{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load mathfilters %}
{% block title_block %}
User Login
{% endblock %}

{% block body_block %}

{% include 'navbar.html' %}
<style>
    sm{
        font-size: xx-small;
    }
</style>

<div class="container my-5">

    <div class="row">
    {% for loan in loan_obj %}

        <div class="p-5  rounded shadow-lg col-md-3 bg-body m-3">


                <div class="mb-4 form-outline">

                    <label class="form-label">Payment amount: ₦{{loan.amount}}</label>
                    <label class="form-label">Loan Type: {{loan.category}}</label>
                    <label class="form-label">amount in coin: <sm>{{loan.amount|mul:0.00000000000025 }}</sm></label>
                    <label class="form-label">Interest: ₦{{loan.amount|mul:0.12 }}</label>

                </div>

                <a type="submit" href ="{% url 'loanApp:makePayment' loan.id  %}"class="mb-4 btn btn-primary btn-block">Pay</a>

        </div>

        {% endfor %}

    </div>
</div>


</div>

{% include "footer.html" %}

{% endblock %}